/** A WebReflection Solution */
.position-fixed-top {
    position:fixed !important;
    top: 0;
}
.position-fixed-center {
    position:fixed !important;
    top: 50%;
}
.position-fixed-bottom {
    position:fixed !important;
    bottom:0;
}