/* ----------------------------- STYLESHEET DAISY 2.02 FULLTEXT ---------------------- */



/* --- GENERAL STYLING --- */
div#book {font-family: arial, helvetica, verdana, sans-serif; margin-left: 10%; margin-right: 10%;}

div#book * a {color: #000000; text-decoration: none;}
div#book a:hover, div#book  a:active, div#book  a:focus {text-decoration : none; color : #CC3333; background-color: #FFFFCC;}


/* --- DIV FRONTMATTER --- */
div#book *.docauthor {font-size: 140%; display: block; font-family: arial, verdana, sans-serif; font-weight: normal; margin-top: 2em;}

div#book span.subTitle {font-size: 50%; display: block; margin-top: 1em;}

div#book span.author {font-size: 140%; display: block; font-family: arial, verdana, sans-serif; font-weight: normal; margin-top: 2em;}




/* --- HEADINGS --- */
div#book h1.title {color: #000000; font-family: arial, verdana, sans-serif; font-size : 250%; font-style: normal; font-weight: bold; margin-top: 5em; margin-bottom: 2em;}
div#book h1 {color: #000000; font-size : 175%; font-weight: bold; margin-top: 3em; margin-bottom: 1em;}
div#book h2 {color: #000000; font-size : 150%; font-weight: normal; margin-top: 2.5em; margin-bottom: 0.5em;}
div#book h3 {color: #000000; font-size : 135%; font-weight: normal; margin-top: 2em; margin-bottom: 1em;}
div#book h4 {color: #000000; font-size : 115%; font-weight: normal; margin-top: 1em; margin-bottom: 0em;}
div#book h5 {color: #000000; font-size : 105%; font-weight: bold; margin-top: 1em; margin-bottom: 0em;}
div#book h6 {color: #000000; font-size : 100%; font-weight: bold; margin-top: 0.5em; }
div#book *.heading {color: #000000; font-size : 140%; font-weight: normal; margin-top: 2em; margin-bottom: 1em;}
div#book *.hd {color: #000000; font-size : 140%; font-weight: bold; margin-top: 2em; margin-bottom: 1em;}

/* --- PAGE NUMBERS --- */
div#book span.page-normal, div#book  span.page-special, div#book  span.page-front {display: block; text-align: right; margin-right: 2em; font-weight: bold; border-top: solid 1px #E5E5E5; padding-top: 2em; margin-top: 3em;}
div#book li span.page-normal {list-style-type: none; }


/* --- BLOCKS --- */

div#book div.sidebar {border: 1px solid gray; background-color: #E8FBFF; margin-top: 1em; margin-bottom: 1.5em; padding-left: 1em; padding-right: 1em; padding-top: 0.5em; padding-bottom: 0.5em;}
div#book div.optional-prodnote {border: 1px solid #A7A7A7; background-color: white; padding: 1em; margin-top:1em; margin-bottom:1em;}
div#book div.optional-prodnote a {color: gray;}

div#book div.prodnote {border: 1px solid #A7A7A7; background-color: white; padding: 1em; margin-top:1em; margin-bottom:1em;}
div#book div.prodnote a {color: gray;}


div#book div.notebody {font-size: 90%; border: 1px dotted gray; padding: 1em;}
div#book div.annotation {font-size: 90%; border: 1px dotted gray; padding: 1em;}


/* --- INLINES --- */
div#book span.noteref, div#book  a.noteref {vertical-align: super; font-size : 80%; border : 1px solid rgb(255,0,0); }
div#book span.annoref, div#book  a.annoref {border-bottom : 1px dashed gray; }
div#book acronym, div#book  abbr {border-bottom : 1px dashed rgb(255,0,0); }


/* --- LISTS --- */

div#book ul.plain li {list-style-type: none; margin-top: 1em; }
div#book ul li {list-style-type: disc; margin-top: 1em; }
div#book dt {margin-top: 1em; font-weight: bold;}
div#book span.pagenum {text-align: right; padding-left: 5em;}
div#book ol.lower-roman {list-style-type: lower-roman;}
div#book ol.upper-roman {list-style-type: upper-roman;}
div#book ol.lower-alpha {list-style-type: lower-alpha;}
div#book ol.upper-alpha {list-style-type: upper-alpha;}
div#book li.hd {list-style-type: none; font-weight: bold; margin-top: 0.5em;}


/* --- TABLES --- */
div#book table {border: 2px solid gray; padding: 1em; font-size: 80%; margin-top: 1.5em; margin-bottom: 2em;}
div#book th {border: 1px solid gray; font-weight: bold; padding: 0.5em}
div#book td {border: 1px solid gray; padding: 0.5em}
div#book td.noborder {border: none;}
div#book td.noborder span.page-normal, div#book  td.noborder span.page-special, div#book  td.noborder span.page-front {display: block; text-align: center; margin: 1em 5em 1em 5em; font-weight: bold; padding: 0px; border: none;}

/* --- IMAGES --- */
div#book div.imggroup {display: block; margin-top: 1em; margin-bottom: 1em;}
div#book img {border: none;}
div#book span.image-caption {display:block; margin-bottom: 1.5em; font-size: 90%; font-style: italic;}
div#book div.caption {font-style: italic; font-size: 90%; }


/* --- QUOTES --- */
div#book blockquote {margin-left: 10em; font-size: 90%; font-style: italic; margin-bottom: 4em;}


/* --- POEM --- */
div#book div.poem {font-family:bookman, times, serif; font-weight:700; margin-bottom: 2em; margin-top: 2em; margin-left: 4em; }
div#book div.linegroup {margin-bottom: 1em; margin-top: 1em; margin-left: 4em; }
div#book *.linenum {margin-right: 2em;}
div#book div.author {font-weight: 700; font-style:italic;}
div#book *.dateline {font-size: 80%; font-style: italic; }
div#book *.byline {margin-top: 1em; margin-bottom: 1em; }
div#book div.title {font-weight: 700; font-size: 125%; margin-top: 2em; }
div#book div.poem div.hd {font-size: 100%; font-weight: bold; margin-top: 1em; margin-bottom: 0.3em;}
div#book div.poem span.page-normal {font-family:arial, verdana,sans-serif; display: block; text-align: right; margin-right: 2em; font-weight: bold; border-top: solid 1px #E5E5E5; padding-top: 2em; margin-top: 3em;}

/* --- NAVIGATION HEADERS --- */
div#book div.nav {
	background-color: #eee;
	border: thin solid #ccc;
	padding: 0.5em;
}
div#book div.nav p {
	margin: 0;
	padding: 0;
	color: #666;
}
div#book div.nav p.title {
	text-align: center;
}
div#book div.nav a {
	color: #666;
}
div#book div.nav a:hover, div#book  a:active, div#book  a:focus {
	color: #333;
	text-decoration: underline;
	background-color: #eee;
	
}
div#book div.nav span {
	width: 33.33%;
	display: inline-block;
}
div#book div.nav span.prev {
	text-align: left;
}
div#book div.nav span.main {
	text-align: center;
}
div#book div.nav span.next {
	text-align: right;
}
